{% extends "main.html" %}

{% block content %}
<div class="about-container">
    <h2> What is _? </h2>
    <p> 
        Welcome to _. _ is a free online tool that can be used to manipulate text in various ways. There are
        many sites out there that do what this site does. If you're curious why it exists, I created it as a simple
        web development project. My hope is that it provides some use to people out there who work with data, primarily 
        text-based data. You can use _ to clean text data, manipulate it, or even change it into different types of text.
    </p>
    <h2> How do I report issues? </h2>
    <p>
        You can e-mail me at _@_.com. I'm always happy to hear about any issues that may occur on this site so I can fix
        them. Fixing issues or adding features helps me get stronger as a developer! Or, if you're just interested
        in sharing your thoughts - I'd be happy to hear that too :).
    </p>
    <h2> What is _ made out of? </h2>
    <p>
        _ is made using HTML5/CSS and Flask.
    </p>
    <h2>Fonts?</h2>
    <p>
        Thanks to the following people for licensing Nunito Sans and Nerko One under the 
        Open Font License:
        <ul>
            <li><a href="https://fonts.google.com/specimen/Nunito+Sans/about">Nunito Sans</a></li>
            <li><a href="https://fonts.google.com/specimen/Nerko+One/about">Nerko One</a></li>
        </ul>
    </p>
</div>
{% endblock %}