{% extends "main.html" %}

{% block content %}

<div class="privacy-container">
    <h2>Privacy Policy</h2>
    <p>
        This is a free service and it is used at-risk of the user, user being defined as a person visiting and operating this site.
        The creator of this website is not responsible for any negative, malicious, or bad outcomes from using this website. The tools
        presented on this site are USE AT YOUR OWN RISK. While we programmed them to work as best as we can, there can always be the 
        possibility of mistakes.
    </p>
    <p>
        By using this site you agree to not hold the creator responsible for any negative outcomes of using the tools provided on this site.
    </p>
</div>

{% endblock %}