{% extends "main.html" %}

{% block content %}
<div class="form-wrapper">
    <h2 class="form-title">Sentence Case Capitalization</h2>
    <p>
        Enter some text below and click submit convert text to sentence case:
    </p>
    <form method="POST">
        {{ form.csrf_token }}
        <textarea name="toolbox" class="toolbox" id="tocopy" cols="120" rows="15">{{ form.message.data }}</textarea>
        <br>
        <button class="form-bottom-button" type="submit">SUBMIT</button>
        <button class="form-bottom-button" type="button" onclick="clipboardCopy()">COPY TO CLIPBOARD</button>
    </form>
{% endblock %}